<div class="main-inner">
    <article class="post" itemscope itemtype="http://www.hojun.cn">
        <div class="post-header">
            <div class="post-author clearfix">
                <a class="avatar fleft" href="<%= post.authorLink %>" target="_blank">
                    <img width="48" src="<%= post.avatar %>" alt="avatar"/>
                </a>
                <p><span class="label">作者</span>
                    <span><%= post.author %></span>
                    <span title="最后编辑于<%= date(post.date) %>"><%= date(post.date) %></span>
                </p>
                <p><%= post.authorDesc %></p>
            </div>
            <h2 class="post-title"><%- post.title %></h2>
            <div class="post-meta">
                本文总共<%- strip_html(post.content).length %>个字 | 您是第<span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin"></i></span>位看到它们的小伙伴
            </div>
        </div>
        <div class="post-content markdown-body">
            <%- post.content %>
            <p style="text-align: center;">希望这篇文章能给你带来知识和乐趣，喜欢博主的文章可以加博主好友哦<img class="owoemoji" src="/OwO/img/脸红.png"></p>
            <p style="text-align: center;">有好的文章也可以向博主投稿哦<img class="owoemoji" src="/OwO/img/期待.png"></p>
        </div>
        <div style="text-align:center" class="social-share" data-disabled="facebook, twitter, google"></div>
        <p style="text-align: center;">您的喜欢是作者写作最大的动力<img class="owoemoji" src="/OwO/img/爱心.png"></p>
        

        <div class="post-tool">
            <a class="btn-weixin-tip" href="javascript:void(0);">
                <i class="fa fa-mobile" aria-hidden="true"></i> 打赏支持
            </a>
        </div>

        <p style="text-align: center;"><img class="owoemoji" src="/OwO/img/太开心.png">HEXO群和公众号
        <p style="text-align: center;"><img src="https://wx2.sinaimg.cn/small/006bYVyvgy1ftnjefqf9dj308e08e3yf.jpg"><img src="https://wx2.sinaimg.cn/small/006bYVyvgy1ful7hdd8lxj30zk0zktcg.jpg"></p>
        <% if (post.series){ %>
        <div class="post-series"><%= post.series %>-<%= __('series') %>：
            <% site.posts.sort('date').map(function(p){  %>
                <% if (post.series == p.series){ %>
                    <li><a href="<%- url_for(p.path) %>"><%= p.title %></a></li>
                <% } %>
            <% }) %>
        </div>
        <% } %>
        <% if (post.tags){ %>
        <div class="post-tags"><%= __('tags') %>：
            <% post.tags.each(function(tag){ %>
            <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
            <% }) %>
        </div>
        <% } %>
    </article>
    <div class="post-nav">
        <% if (post.prev){ %>
        <div class="post-nav-prev post-nav-item">
            <a href="<%- url_for(post.prev.path) %>" ><%= post.prev.title %><i class="fa fa-chevron-left"></i></a>
        </div>
        <% } %>
        <% if (post.next){ %>
        <div class="post-nav-next post-nav-item">
            <a href="<%- url_for(post.next.path) %>" ><%= post.next.title %><i class="fa fa-chevron-right"></i></a>
        </div>
        <% } %>
    </div>
    <%- partial('_partial/toc', {post: post}) %>
    <%- partial('_partial/comments', {post: post}) %>
    <%- partial('_widget/ads/adSense') %>
</div>
<!-- 不蒜子 网页计数器 -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
