<!DOCTYPE HTML>
<html class="no-js" lang="zh-CN">

<head>
    <%- partial('_partial/head') %>
    <script type="application/ld+json">
    {
        "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
        "@id": "https://www.hojun.com<%=url_for(page.path) %>",
        "appid": "1594654793276567",<% if (page.title){ %>
        "title": "<%= page.title %>",<% } else {%>"title": "hojun-好少年光芒万丈",
        "images": ['https://wx1.sinaimg.cn/large/006bYVyvgy1ftand2qurdj303c03cdfv.jpg'],<% } %><% if (page.photos && page.photos.length){ %>
        "images": ["<%= page.photos[0] %>"],<% } %>
        "pubDate": "<%= date(page.date, 'YYYY-MM-DDThh:mm:ss') %>"
    }
    </script>
    <script src="//msite.baidu.com/sdk/c.js?appid=1594654793276567"></script>
</head>
<body>
<%- partial('_partial/leftMenu', null, {cache: !config.relative_link}) %>
<%- partial('_widget/user-entry', null, {cache: !config.relative_link}) %>
<div id="wrapper" class="clearfix">
    <div id="body">
        <div class="main" id="main">
            <%- partial('_partial/middleCover', {cache: !config.relative_link}) %>
            <%- body %>
        </div><!-- end #main-->
    </div><!-- end #body -->
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>
<div id="spig" class="spig">
    <div id="message"></div>
    <div id="xiaomai"></div>
</div>
<div class="fixed-xm">
    <img src="/images/xiaomai/xm.png">
    <audio src="/images/xiaomai/xm.mp3" id="xm_audio" preload="auto" style="display:none;"></audio>
</div>
<div class="fixed-btn">
    <a class="btn-gotop" href="javascript:"> <i class="fa fa-angle-up"></i></a>
</div>
<script>
    $(function () {
        SimpleCore.init({
            buildingTime: '<%= theme.siteBuildingTime %>',
            current: $('.post-tags').length > 0 ? 'post' : 'archive',
            // customImg: 'https://wx4.sinaimg.cn/large/006bYVyvgy1ftan8bwlp3j30by0byq3o.jpg',
            customImg: 'https://wx1.sinaimg.cn/large/006bYVyvgy1ftpw8983bjj308c08c77h.jpg',
            tipImg: 'https://wx3.sinaimg.cn/large/006bYVyvgy1ftan8bwlp3j30by0byq3o.jpg',
        });
        const observer = lozad();
        observer.observe();

        
        //打字特效
        POWERMODE.colorful = true; // make power mode colorful
        POWERMODE.shake = false; // turn off shake
        document.body.addEventListener('input', POWERMODE);

        //为超链接加上target='_blank'属性  
        $('a[href^="http"]').each(function() {  
            $(this).attr('target', '_blank');  
        });

        // window.onblur = function (){ 
        //     document.title = '快回来学习~'; 
        // };
        // window.onfocus = function (){ 
        //     document.title = 'hojun-好少年光芒万丈！'; 
        // }; 
    });
</script>
</body>
</html>