<!DOCTYPE HTML>
<html class="no-js" lang="zh-CN">
<head>
    <%- partial('_partial/head') %>
</head>
<body>
<%- partial('_partial/leftMenu', null, {cache: !config.relative_link}) %>
<%- partial('_widget/user-entry', null, {cache: !config.relative_link}) %>
<div id="wrapper" class="clearfix">
    <div id="body">
        <div class="main" id="main">
            <%- partial('_partial/middleCover', {cache: !config.relative_link}) %>
            <%- body %>
        </div><!-- end #main-->
    </div><!-- end #body -->
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>
<div id="spig" class="spig">
    <div id="message"></div>
    <div id="xiaomai"></div>
</div>
<div class="fixed-xm">
    <img src="/images/xiaomai/xm.png">
    <audio src="/images/xiaomai/xm.mp3" id="xm_audio" preload="auto" style="display:none;"></audio>
</div>
<div class="fixed-btn">
    <a class="btn-gotop" href="javascript:"> <i class="fa fa-angle-up"></i></a>
</div>
<script>
    $(function () {
        SimpleCore.init({
            buildingTime: '<%= theme.siteBuildingTime %>',
            current: $('.post-tags').length > 0 ? 'post' : 'archive',
            customImg: '/images/customImg.png',
            tipImg: '/images/tipImg.png',
        });
        const observer = lozad();
        observer.observe();

        
        //打字特效
        POWERMODE.colorful = true; // make power mode colorful
        POWERMODE.shake = false; // turn off shake
        document.body.addEventListener('input', POWERMODE);

        //为超链接加上target='_blank'属性  
        $('a[href^="http"]').each(function() {  
            $(this).attr('target', '_blank');  
        });

        window.onblur = function (){ 
            document.title = '快回来学习~'; 
        };
        window.onfocus = function (){ 
            document.title = '好好学习,天天向上！'; 
        }; 
    });
</script>
</body>
</html>