<div class="page-title">
    <ul>
        <li><a href="/">首页</a></li>
        <% for (var i in theme.menu){ %>
        <li class="<%= (page.category == i) ? 'active' : '' %>">
            <a href="/categories/<%= theme.menu[i] %>" data-name="<%= i %>"><%= i %></a>
        </li>
        <% } %>
        <li class="<%= page.title == '友链' ? 'active' : '' %>">
            <a href="/links/" data-name="友情链接">友链</a>
        </li>
        <%- partial('_widget/search-bar', null, {cache: !config.relative_link}) %>
    </ul>
</div>
<div class="main-inner">
    <article class="post" itemscope itemtype="http://www.hojun.cn">
        <div class="post-header">
            <h3 class="post-title">总的来说 - 目前共计<%= site.tags.length %>类标签</h3>
        </div>
        <p><img width="100%" src="https://wx4.sinaimg.cn/large/006bYVyvgy1ftan8b6mnyj30go0cumzs.jpg" alt="tags-bg"></p> 
        <div class="post-content markdown-body" itemprop="articleBody">
            <ul class="tag-list">
                <% site.tags.sort('name').map(function(tag){  %>
                <li><a href="<%- url_for(tag.path) %>"><%= tag.name %>(<%= tag.length %>)</a></li>
                <% }) %>
            </ul>
        </div>
    </article>
    <%- partial('_widget/ads/adSense') %>
</div><!-- end #main-->
