<footer class="footer">
    <div class="footer-inner">
        <!-- <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=0e48d2d6785c4b110daa7e450102de5ebe028e86bde31a428399911eb53bd450"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="简书散人交流群" title="简书散人交流群"></a> -->
        <p id="hitokoto">:D 获取中...</p>
        <script>
          var xhr = new XMLHttpRequest();
          xhr.open('get', 'https://v1.hitokoto.cn');
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
              var data = JSON.parse(xhr.responseText);
              var hitokoto = document.getElementById('hitokoto');
              hitokoto.innerText = data.hitokoto + '  ——' + data.from;
            }
          }
          xhr.send();
        </script>
        <p>
            <a href="/hojun.html"  title="<%= __('about') %>"><%= __('about') %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="/help" title="<%= __('help') %>" ><%= __('help') %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="/archives" title="<%= __('archives') %>"><%= __('archives') %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp

            <!-- 自定义链接 -->
            <a href="/links" title="友情链接">友情链接</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
        </p>
        <p>
            本站点采用<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>，已建立<a href="/timeline" id="siteBuildingTime"></a>天<br/>
            ©2017 基于<a href="http://hexo.io" target="_blank">Hexo</a>搭建
            ，主题&nbsp<a href="https://github.com/tangkunyin/hexo-theme-jsimple" target="_blank">JSimple</a>
            ，Hosted by <a href="<%= theme.gitPageServerUrl %>" target="_blank"><%= theme.gitPageServerName %></a>，Hosted by <a href="<%= theme.codingPageServerUrl %>" target="_blank"><%= theme.codingPageServerName %></a>
        </p>
        <p id="cnzz"><%- partial('_widget/site-analytics') %></p>
    </div>
</footer>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?15e55c3816abfbc912d5cb0d9000a2d4";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<%- js(['js/jquery.min.js']) %>
<%- js(['js/lozad.js']) %>
<%- js(['js/jquery.share.min.js']) %>
<%- js(['js/CodeLineHeight.js']) %>
<%- js(['js/activate-power-mode.js']) %>
<%- js(['js/xiaomai.js']) %>
<%- js(['js/InsightSearch','js/SimpleCore']) %>
<!-- <%- js(['js/loading.js']) %> -->
<!-- <%- js(['js/APlayer.js']) %> -->
<!-- <%- js(['js/aplayerdemo.js']) %> -->
