<div id="loading">
	<div id="loading-center">
		<div id="loading-center-absolute">
			<div class="object" id="object_five"></div>
			<div class="object" id="object_four"></div>
			<div class="object" id="object_three"></div>
			<div class="object" id="object_two"></div>
			<div class="object" id="object_one"></div>
		</div>
	</div>
</div>
<div id="nav">
    <nav class="nav-menu">
        <a class="site-name current" href="/" title="<%= theme.shortName %>"><%= theme.shortName %></a>
        <a class="site-index current" href="/"><i class="fa fa-home"></i><span><%= __('home') %></span></a>
        <a href="/archives/" title="<%= __('archives')  %>"><i class="fa fa-archives"></i><span><%= __('archives')  %></span></a>
        <a href="/tags/" title="<%= __('tags')  %>"><i class="fa fa-tags"></i><span><%= __('tags')  %></span></a>
        <!-- <a href="/video" title="<%= __('video')  %>"><i class="fa fa-video-camera"></i><span><%= __('video')  %></span></a> -->
        <!-- <a href="/rss" title="<%= __('rss_feed')  %>"><i class="fa fa-rss"></i><span><%= __('rss_feed')  %></span></a> -->
        <a href="/2018/02/18/喜欢的音乐/" title="<%= __('music')  %>"><i class="fa fa-music"></i><span><%= __('music')  %></span></a>
        <a href="/tags/悦读/" title="<%= __('book')  %>"><i class="fa fa-book"></i><span><%= __('book')  %></span></a>
        <a href="/tags/图集/" title="<%= __('photo')  %>"><i class="fa fa-photo"></i><span><%= __('photo')  %></span></a>
        <a href="/tags/资源/" title="<%= __('cloud')  %>"><i class="fa fa-cloud"></i><span><%= __('cloud')  %></span></a>
        <a href="/links/" title="<%= __('links')  %>"><i class="fa fa-link"></i><span><%= __('links')  %></span></a>
        <a href="/help/" title="<%= __('help')  %>"><i class="fa fa-question-circle"></i><span><%= __('help') %></span></a>
        <!-- <div id="player2" class="aplayer" style="position: absolute; bottom:0px; width:45px; height:45px; margin:0px;" class="aplayer"></div> -->
    </nav>
        <!--<div id="player5" class="aplayer" style="position: fixed; bottom:0px; width:100%; height:auto; margin:0px;" class="aplayer"></div>--!>
</div>