<div id="cover">
    <div class="cover-img"></div>
    <div class="cover-info">
        <a href="/about_hojun.html"><img title="好少年光芒万丈" class="avatar" width="72" src="<%= theme.avatar %>" alt="avatar" /></a>
        <h1><%= theme.siteName %></h1>
        <h3><%= theme.coverTitle %></h3>
        <p><%= theme.coverDescription %></p>
        <div class="cover-sns">
            <div class="btn btn-weixin">
                <a class="" href="javascript:"><i class="fa fa-weixin"></i></a>
                <div class="qrcode"><img src="https://cdn.jsdelivr.net/gh/honjun/ImageHosting/sina/006bYVyvgy1ftan8chgw0j302s02s3yh.jpg" alt="weixinQrcode" /></div>
                <div class="qrcode-arrow"></div>
            </div>
            <div class="btn btn-weibo">
                <a href="<%= theme.sinaWb %>" target="_blank" rel="nofollow"><i class="fa fa-weibo"></i></a>
            </div>
            <div class="btn btn-qq">
                <a href="<%= theme.qq %>"  target="_blank" rel="nofollow"><i class="fa fa-qq"></i></a>
            </div>
            <div class="btn btn-github">
                <a href="<%= theme.github %>"  target="_blank" rel="nofollow"><i class="fa fa-github"></i></a>
            </div>
            <div class="btn btn-bili">
                <a href="<%= theme.bili %>"  target="_blank" rel="nofollow"><i class="iconfont icon-bilibili"></i></a>
            </div>
        </div>
    </div>
</div>